<launch>
    <!-- Odometry communication (rosserial server) -->
    <node pkg="rosserial_server" type="serial_node" name="rosserial_server_dp">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="115200" />
        <rosparam>
            require:
                publishers: [ odometry ]
                subscribers: [ ]
        </rosparam>
    </node>
</launch>